/*Основные цвета*/
:root {
 --text: #434455;
 --dark: #2E2F42;
--primary-brand: #4D5AE5;
--white: #FFFFFF;
--light: #F4F4FD;
--accent: #E7E9FC;
--pressed-state: #404BBF;
--success:#31D0AA;
}

html {
box-sizing: border-box;
}

*,
*: :before,
*: :after {
box-sizing: inherit;
}

body {
    color: var(--text);
    background-color: var(--white);

    font-family: roboto, sans-serif;

    margin: 0;
}

h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
  
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Студія*/

/*Logo*/

.header-logo {
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;

    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
}

.footer-logo {
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;

    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
   
    margin-bottom: 16px;
}

.web {
    color: var(--primary-brand)
}

.header-logo .studio {
    color: var(--dark);
}

.footer-logo .studio {
    color: var(--light);
}



.main-nav,
.adress {
    display: flex;
    align-items: center;
}
    

/*Site nav*/

.site-nav {
    display: flex;

    margin-left: 76px;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.site-nav .link {
    display: block;

    color: var(--dark);

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
}

.link:hover {
    color: var(--primary-brand);
}

.link:focus {
    color: var(--primary-brand);
}

.link.current {
    color: var(--primary-brand);
}

/*Contacts*/

.contacts {
    display: flex;
}

.contacts .item:not(:last-child) {
    margin-right: 40px;
}

.contact-link {
    color: var(--text);

    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
}

.contact-link:hover {
    color: var(--primary-brand);
}

.contact-link:focus {
    color: var(--primary-brand);
}

.link, .contact-link {
    text-decoration: none;
}

/*Adress*/

.adress {
    font-style: normal;

    margin-left: auto;
}

/*Hero*/

.hero {
    background-color: var(--dark);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    width: 496px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn {
    display: inline-block;

    cursor: pointer;

    color: var(--white);
    background-color: var(--primary-brand);

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;

    align-items: center;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    border-radius: 4px;
     
    border: transparent;
    font-family: inherit;
}


.work-title, .team-title, .portfolio-title {
    color: var(--dark);

    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 0;
} 

/*Features*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: 264px;
}

.feature-list .item.item:not(:last-child) {
    margin-right: 24px;
}

.features-title {
    color: var(--dark);

    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    
    display: none;
}

/*Work*/

.work-content {
    padding-top: 0;
    padding-bottom: 120px; 
}

.work-list {
    display: flex;
}

.work-element {
    width: 360px;
    margin-right: 24px;
}

.work-element:last-child {
    margin-right: 0;
}

.title {
    color: var(--dark);

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.text {
    color: var(--text);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.work-title, .team-title {
    margin-bottom: 72px;
}

/*Team*/

.team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
}

.team-element {
    margin-right: 24px;
}

.team-element:last-child {
    margin-right: 0;
}

img {
   display: block; 
   max-width:100%;  
}

.team-content {
    background-color: #FFFFFF;

    padding-top: 32px;
    padding-bottom: 32px;

    text-align: center;
}

/*Footer*/

.footer {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.text.footer-text {
    color: var(--accent); 
    width: 264px;
    
}

/*Портфоліо*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-title {
    display: none;
}

.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    
}

.btn-element {
    margin-right: 24px;
}
.btn-element:last-child {
    margin-right: 0;
}

.filter-btn {
    cursor: pointer;

    color: var(--primary-brand);
    background-color: var(--light); 
    
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    border: transparent;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    padding: 12px 24px;

}

.filter-btn:hover {
    background-color: var(--pressed-state);
    color: var(--white);
}

.filter-btn:focus {
    background-color: var(--pressed-state);
    color: var(--white);
}

.link.current {
    color: var(--primary-brand);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    
}

.project-element {
    margin-right: 24px;
    margin-bottom: 48px;
}

.project-element:nth-child(3n) {
    margin-right: 0;
}

.project-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    border-left: 1px solid #E7E9FC;;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
